div.ht{height:20%;} 
li{list-style-type:none;float:left;font-size:20px;} 
div.hs{height:34%;} 
#ais{color:yellow;font-family:rockwell;font-size:22px;}
#sh{height:45px;width:45%} 
#bh{height:45px;width:5%} 
a{display:block;padding:10pt;color:#ffb84d;} 
a:hover{background-color:#ff3300;} 
div.s2{height:38%;background-color:transparent;opacity:0.9;margin-bottom:32px} 
div.s3{background-color:#ff5c33;width:100%} 
div.s4{color:white;background-color:transparent;height:10%;width:100%;opacity:0.5;} 
#bar{background-color:#ff5c33;height:50px;width:80%;} 
#pos{position:relative;top:1em;width:300px;height:250px}  





